@media (max-width:1134px){
    .people-block{
       width: 50%;
    }
    .people-blocks{
        justify-content: center;

    }
    *:hover{
        display:none;
    }
}

@media (max-width: 991px) {

    .block-list__text{
        display:none;
    }

    .burger{
        display: flex;
        align-items:center;
    }
   
    .main-block__button{
        margin-bottom: 55px;
    }
    .block2-title span{
        font-size: 30px;
    }
    .photo-block{
        width:50%;
    }
}


    

@media (max-width:767px){
     .header-main{
        height:auto;
        padding-top:25px;
    }
    .main-block__title{
        font-size:50px;
    }
    .main-block__subtitle{
        font-size:15px;
        line-height: 35px;
    }
  
    .people-blocks{
        justify-content: center;
    }
    .page-block{
      width:100%;
      margin-right: 0;
      text-align:center;
    }
   
    
    
}

@media (max-width:650px){
    .client{
        display:none;
    }
    .photo-block{
        width:100%;
    }
}

@media (max-width:535px){
    .footer-subtitle{
        font-size:11px;
    }
}

@media (max-width:470px){
    .footer-main__content{
        flex-direction: column;
        align-items:center;
        padding:30px 0;
    }
    .footer-main{
        height:auto;
       
    }
    .footer-block{
        margin-bottom: 40px;
    }

}

@media (max-width:350px){
    .main-block__title{
        font-size:30px;
    }
}